<table>
<tr><td>Bib</td><td>Name</td><td>Team</td><td>Class</td><td>Age</td><td>Gender</td><td>Time</td></tr>
<tr><td>118</td><td>Steven Mongielo</td><td>Campus Wheelworks</td><td>BEGINNER</td><td>20-29</td><td>29</td><td>Male</td><td>0.0349259259259259</td></tr>
<tr><td>11</td><td>Tom Anderson</td><td></td><td>BEGINNER</td><td>40-49</td><td>45</td><td>Male</td><td>0.036443287037037</td></tr>
<tr><td>52</td><td>Chris Lamb</td><td>Team Competitive Gear</td><td>BEGINNER</td><td>50-59</td><td>53</td><td>Male</td><td>0.0393611111111111</td></tr>
<tr><td>60</td><td>Michael Garofolo</td><td></td><td>BEGINNER</td><td>20-29</td><td>26</td><td>Male</td><td>0.0394733796296296</td></tr>
<tr><td>100</td><td>Cale Switzer</td><td></td><td>BEGINNER</td><td>20-29</td><td>26</td><td>Male</td><td>0.0395949074074074</td></tr>
<tr><td>34</td><td>Ryan Hopkins</td><td></td><td>BEGINNER</td><td>19&UNDER</td><td>14</td><td>Male</td><td>0.0398460648148148</td></tr>
<tr><td>22</td><td>Harry Hoffman</td><td></td><td>BEGINNER</td><td>19&UNDER</td><td>14</td><td>Male</td><td>0.0407476851851852</td></tr>
<tr><td>54</td><td>Evan Grucela</td><td>Campus Wheelworks</td><td>BEGINNER</td><td>19&UNDER</td><td>12</td><td>Male</td><td>0.0422986111111111</td></tr>
<tr><td>9</td><td>Chandler Nickel</td><td>Just Riding Along</td><td>BEGINNER</td><td>19&UNDER</td><td>18</td><td>Male</td><td>0.0424652777777778</td></tr>
<tr><td>59</td><td>Matt Stromecki</td><td></td><td>BEGINNER</td><td>19&UNDER</td><td>15</td><td>Male</td><td>0.043</td></tr>
<tr><td>63</td><td>Mike Kirsch</td><td></td><td>BEGINNER</td><td>50-59</td><td>54</td><td>Male</td><td>0.0435138888888889</td></tr>
<tr><td>61</td><td>Michael Seguin</td><td>Covered Wagon Promotions</td><td>BEGINNER</td><td>40-49</td><td>41</td><td>Male</td><td>0.0452175925925926</td></tr>
<tr><td>44</td><td>Mike Judson</td><td></td><td>BEGINNER</td><td>20-29</td><td>29</td><td>Male</td><td>0.0467395833333333</td></tr>
<tr><td>56</td><td>James Ellis</td><td></td><td>BEGINNER</td><td>20-29</td><td>21</td><td>Male</td><td>0.0497094907407407</td></tr>
<tr><td>29</td><td>Lisa Maclean</td><td></td><td>BEGINNER</td><td>FEMALE OPEN</td><td>45</td><td>Female</td><td>0.05125</td></tr>
<tr><td>71</td><td>Val Grigoriou</td><td>Campus Wheelworks</td><td>BEGINNER</td><td>FEMALE OPEN</td><td>32</td><td>Female</td><td>0.0531377314814815</td></tr>
<tr><td>39</td><td>Robert Baish</td><td></td><td>BEGINNER</td><td>40-49</td><td>42</td><td>Male</td><td>0.0591886574074074</td></tr>
<tr><td>64</td><td>Rich Ohlson</td><td>Ride To Recovery</td><td>BEGINNER</td><td>40-49</td><td>45</td><td>Male</td><td>DNF</td></tr>
<tr><td>-</td><td>Santiago Deluna</td><td>Ride To Recovery</td><td>BEGINNER</td><td>19&UNDER</td><td>14</td><td>Male</td><td>DNS</td></tr>
<tr><td>-</td><td>Joey Allegue</td><td>Ride To Recovery</td><td>BEGINNER</td><td>19&UNDER</td><td>14</td><td>Male</td><td>DNS</td></tr>
<tr><td>-</td><td>Eric Phillips</td><td>Arriba</td><td>BEGINNER</td><td>30-39</td><td>30</td><td>Male</td><td>DNS</td></tr>
<tr><td>12</td><td>Dennis Baldwin</td><td>Ellicottville Bike N Bean</td><td>EXPERT</td><td>30-39</td><td>34</td><td>Male</td><td>0.0805462962962963</td></tr>
<tr><td>14</td><td>Doug Rusho</td><td>Tryon Bike</td><td>EXPERT</td><td>40-49</td><td>40</td><td>Male</td><td>0.0816238425925926</td></tr>
<tr><td>152</td><td>Mark Walters</td><td>Crankskins.Com</td><td>EXPERT</td><td>20-29</td><td>27</td><td>Male</td><td>0.0816342592592593</td></tr>
<tr><td>268</td><td>Alex Borsuk</td><td>TBS Racing P/B Plan2peak</td><td>EXPERT</td><td>20-29</td><td>23</td><td>Male</td><td>0.0822013888888889</td></tr>
<tr><td>48</td><td>Trevor Wolf</td><td>Crankskins.Com</td><td>EXPERT</td><td>20-29</td><td>25</td><td>Male</td><td>0.0825196759259259</td></tr>
<tr><td>138</td><td>Garick Tischler</td><td>Ellicottville Bike N Bean</td><td>EXPERT</td><td>20-29</td><td>28</td><td>Male</td><td>0.0826145833333333</td></tr>
<tr><td>19</td><td>Eddie Skala</td><td>Pedal Bike Shop</td><td>EXPERT</td><td>19&UNDER</td><td>17</td><td>Male</td><td>0.0832025462962963</td></tr>
<tr><td>13</td><td>Jason Bixby</td><td>Crankskins.Com</td><td>EXPERT</td><td>30-39</td><td>38</td><td>Male</td><td>0.0835729166666667</td></tr>
<tr><td>4</td><td>Ben Bixby</td><td>Crankskins.Com</td><td>EXPERT</td><td>SS OPEN</td><td>35</td><td>Male</td><td>0.0851296296296296</td></tr>
<tr><td>23</td><td>Brian Phillips</td><td>Phabb Racing</td><td>EXPERT</td><td>30-39</td><td>34</td><td>Male</td><td>0.0876678240740741</td></tr>
<tr><td>41</td><td>Scott Farrell</td><td>Tom's Pro Bike</td><td>EXPERT</td><td>40-49</td><td>48</td><td>Male</td><td>0.0878726851851852</td></tr>
<tr><td>273</td><td>Alex Davies</td><td>Campus Wheelworks</td><td>EXPERT</td><td>30-39</td><td>34</td><td>Male</td><td>0.087880787037037</td></tr>
<tr><td>131</td><td>Dave Freiman</td><td>Sliders</td><td>EXPERT</td><td>40-49</td><td>41</td><td>Male</td><td>0.0878935185185185</td></tr>
<tr><td>17</td><td>Eric Ingalsbe</td><td>TBS Racing P/B Plan2peak</td><td>EXPERT</td><td>30-39</td><td>31</td><td>Male</td><td>0.0887453703703704</td></tr>
<tr><td>28</td><td>John Roden</td><td>Zippy Wheels</td><td>EXPERT</td><td>50-59</td><td>51</td><td>Male</td><td>0.0892395833333333</td></tr>
<tr><td>21</td><td>David Less</td><td>Sliders</td><td>EXPERT</td><td>SS OPEN</td><td>50</td><td>Male</td><td>0.0903368055555556</td></tr>
<tr><td>1</td><td>Jon Sundquist</td><td>WNYMBA</td><td>EXPERT</td><td>50-59</td><td>52</td><td>Male</td><td>0.0927048611111111</td></tr>
<tr><td>40</td><td>Christopher Fuller</td><td>Southtowns Wine And Liquor</td><td>EXPERT</td><td>50-59</td><td>52</td><td>Male</td><td>0.0927141203703704</td></tr>
<tr><td>25</td><td>Jim Kuhn</td><td>Ellicottville Bike N Bean</td><td>EXPERT</td><td>40-49</td><td>40</td><td>Male</td><td>0.0930173611111111</td></tr>
<tr><td>7</td><td>Brian Rohr</td><td>TBS Racing P/B Plan2peak</td><td>EXPERT</td><td>50-59</td><td>51</td><td>Male</td><td>0.094255787037037</td></tr>
<tr><td>160</td><td>Scott Cimato</td><td>TBS Racing P/B Plan2peak</td><td>EXPERT</td><td>30-39</td><td>34</td><td>Male</td><td>0.094306712962963</td></tr>
<tr><td>36</td><td>Paul Humber</td><td>SHCC</td><td>EXPERT</td><td>50-59</td><td>50</td><td>Male</td><td>0.0960474537037037</td></tr>
<tr><td>38</td><td>Rob Hillyard</td><td>Southtowns Wine And Liquor</td><td>EXPERT</td><td>40-49</td><td>45</td><td>Male</td><td>0.0962152777777778</td></tr>
<tr><td>125</td><td>Bonnie R Symes</td><td>Campus Wheelworks</td><td>EXPERT</td><td>FEMALE OPEN</td><td>38</td><td>Female</td><td>0.0966909722222222</td></tr>
<tr><td>269</td><td>James Hughey</td><td>Tom's Pro Bike</td><td>EXPERT</td><td>40-49</td><td>44</td><td>Male</td><td>0.0971354166666667</td></tr>
<tr><td>20</td><td>Jack Cufari</td><td>Tryon Bike</td><td>EXPERT</td><td>SS OPEN</td><td>28</td><td>Male</td><td>0.0971736111111111</td></tr>
<tr><td>30</td><td>Katina Walker</td><td>Crankskins.Com</td><td>EXPERT</td><td>FEMALE OPEN</td><td>46</td><td>Female</td><td>0.0989918981481481</td></tr>
<tr><td>16</td><td>Ej Rosipayla</td><td>Crankskins.Com</td><td>EXPERT</td><td>40-49</td><td>49</td><td>Male</td><td>0.0994108796296296</td></tr>
<tr><td>33</td><td>Michael Griffin</td><td>Good Clean Fun</td><td>EXPERT</td><td>40-49</td><td>47</td><td>Male</td><td>0.101458333333333</td></tr>
<tr><td>2</td><td>Jeff Kerton</td><td>Shorthills Cycling Club Race Team</td><td>EXPERT</td><td>SS OPEN</td><td>35</td><td>Male</td><td>0.101494212962963</td></tr>
<tr><td>254</td><td>Jennifer Wolfe</td><td>Hollyloft/Alfies</td><td>EXPERT</td><td>FEMALE OPEN</td><td>46</td><td>Female</td><td>0.101590277777778</td></tr>
<tr><td>154</td><td>Michael Moscato</td><td>O</td><td>EXPERT</td><td>40-49</td><td>45</td><td>Male</td><td>0.106170138888889</td></tr>
<tr><td>26</td><td>Joe Catalano</td><td></td><td>EXPERT</td><td>60&OVER</td><td>61</td><td>Male</td><td>0.107121527777778</td></tr>
<tr><td>253</td><td>Heath Mccombs</td><td></td><td>EXPERT</td><td>30-39</td><td>37</td><td>Male</td><td>0.111091435185185</td></tr>
<tr><td>42</td><td>Todd Fiore</td><td>WNYMBA</td><td>EXPERT</td><td>SS OPEN</td><td>39</td><td>Male</td><td>0.111612268518519</td></tr>
<tr><td>272</td><td>John Crumlish</td><td>Wnymba/Cww</td><td>EXPERT</td><td>SS OPEN</td><td>51</td><td>Male</td><td>0.11287037037037</td></tr>
<tr><td>3</td><td>April Depriest</td><td></td><td>EXPERT</td><td>FEMALE OPEN</td><td>34</td><td>Female</td><td>0.113884259259259</td></tr>
<tr><td>37</td><td>Philip "Blunt" Defranco</td><td>WNYMBA</td><td>EXPERT</td><td>30-39</td><td>32</td><td>Male</td><td>0.118453703703704</td></tr>
<tr><td>6</td><td>Connor Nickel</td><td>Just Riding Along</td><td>EXPERT</td><td>19&UNDER</td><td>18</td><td>Male</td><td>0.124990740740741</td></tr>
<tr><td>45</td><td>Keith Pellerin</td><td>Southtowns Wine And Liquor</td><td>EXPERT</td><td>30-39</td><td>39</td><td>Male</td><td>DNF</td></tr>
<tr><td>10</td><td>Dan Rabb</td><td>Sliders</td><td>EXPERT</td><td>SS OPEN</td><td>30</td><td>Male</td><td>DNF</td></tr>
<tr><td>35</td><td>Mike Mccarthy</td><td>Southtowns Wine And Liquor</td><td>EXPERT</td><td>30-39</td><td>33</td><td>Male</td><td>DNF</td></tr>
<tr><td>159</td><td>Rudy Szymanski</td><td>Bert's Bikes</td><td>EXPERT</td><td>20-29</td><td>22</td><td>Male</td><td>DNF</td></tr>
<tr><td>137</td><td>Ross Crary</td><td>Old And In The Way</td><td>SPORT</td><td>40-49</td><td>47</td><td>Male</td><td>0.0592789351851852</td></tr>
<tr><td>271</td><td>Kurt Rubeck</td><td>Oconnor Racing</td><td>SPORT</td><td>SS OPEN</td><td>44</td><td>Male</td><td>0.0618981481481481</td></tr>
<tr><td>101</td><td>Benjamin Strunk</td><td>Team Competitive Gear</td><td>SPORT</td><td>20-29</td><td>24</td><td>Male</td><td>0.0620925925925926</td></tr>
<tr><td>109</td><td>Dan Bouchard</td><td>SHCC 2</td><td>SPORT</td><td>30-39</td><td>34</td><td>Male</td><td>0.0625972222222222</td></tr>
<tr><td>150</td><td>Yan Chmielowiec</td><td>Campus Wheelworks</td><td>SPORT</td><td>30-39</td><td>34</td><td>Male</td><td>0.0631527777777778</td></tr>
<tr><td>136</td><td>Robert J Till</td><td></td><td>SPORT</td><td>30-39</td><td>39</td><td>Male</td><td>0.06328125</td></tr>
<tr><td>142</td><td>Shannon Brown</td><td></td><td>SPORT</td><td>40-49</td><td>41</td><td>Male</td><td>0.0640277777777778</td></tr>
<tr><td>47</td><td>Benjamin Hauer</td><td>Campus Wheelworks</td><td>SPORT</td><td>20-29</td><td>25</td><td>Male</td><td>0.0641018518518519</td></tr>
<tr><td>132</td><td>Michael Dempski</td><td>Ride To Recovery</td><td>SPORT</td><td>40-49</td><td>43</td><td>Male</td><td>0.0641168981481482</td></tr>
<tr><td>43</td><td>Corey Winter</td><td>Sliders</td><td>SPORT</td><td>19&UNDER</td><td>15</td><td>Male</td><td>0.0642060185185185</td></tr>
<tr><td>5</td><td>Jamie Hallett</td><td>Tom's Pro Bike</td><td>SPORT</td><td>40-49</td><td>45</td><td>Male</td><td>0.0643206018518519</td></tr>
<tr><td>106</td><td>Chris Conklin</td><td>Self</td><td>SPORT</td><td>40-49</td><td>45</td><td>Male</td><td>0.0645173611111111</td></tr>
<tr><td>24</td><td>David Ferrett</td><td></td><td>SPORT</td><td>40-49</td><td>42</td><td>Male</td><td>0.064619212962963</td></tr>
<tr><td>130</td><td>Max Walker</td><td></td><td>SPORT</td><td>50-59</td><td>52</td><td>Male</td><td>0.0646331018518519</td></tr>
<tr><td>265</td><td>Keith Martin</td><td>Allegheny Cyclery</td><td>SPORT</td><td>40-49</td><td>44</td><td>Male</td><td>0.0656550925925926</td></tr>
<tr><td>27</td><td>Ryan Mccarthy</td><td>Southtowns Wine And Liquor</td><td>SPORT</td><td>30-39</td><td>31</td><td>Male</td><td>0.0657476851851852</td></tr>
<tr><td>267</td><td>Eric Smith</td><td></td><td>SPORT</td><td>40-49</td><td>41</td><td>Male</td><td>0.0657800925925926</td></tr>
<tr><td>115</td><td>David Thornton</td><td></td><td>SPORT</td><td>50-59</td><td>50</td><td>Male</td><td>0.0658726851851852</td></tr>
<tr><td>18</td><td>Brenden Conway</td><td>Death Row Velo</td><td>SPORT</td><td>SS OPEN</td><td>31</td><td>Male</td><td>0.0662407407407407</td></tr>
<tr><td>264</td><td>Justin Gabreski</td><td>Tom's Pro Bike</td><td>SPORT</td><td>50-59</td><td>57</td><td>Male</td><td>0.0662523148148148</td></tr>
<tr><td>128</td><td>Mark Harmon</td><td>Old And In The Way</td><td>SPORT</td><td>50-59</td><td>57</td><td>Male</td><td>0.0674131944444444</td></tr>
<tr><td>255</td><td>Tim Susfolk</td><td></td><td>SPORT</td><td>30-39</td><td>37</td><td>Male</td><td>0.0678287037037037</td></tr>
<tr><td>257</td><td>Ethan Johnson</td><td>Campus Wheelworks</td><td>SPORT</td><td>30-39</td><td>35</td><td>Male</td><td>0.0687476851851852</td></tr>
<tr><td>147</td><td>Tim Lee</td><td>SHCC 2</td><td>SPORT</td><td>SS OPEN</td><td>48</td><td>Male</td><td>0.068787037037037</td></tr>
<tr><td>110</td><td>Dan Newhouse</td><td>SHCC</td><td>SPORT</td><td>30-39</td><td>36</td><td>Male</td><td>0.0688055555555556</td></tr>
<tr><td>49</td><td>Justin Plinz</td><td>Campus Wheelworks</td><td>SPORT</td><td>20-29</td><td>29</td><td>Male</td><td>0.0688483796296296</td></tr>
<tr><td>146</td><td>Tim Kriger</td><td></td><td>SPORT</td><td>40-49</td><td>45</td><td>Male</td><td>0.0702835648148148</td></tr>
<tr><td>116</td><td>Derek Carreau</td><td>Shorthills Cycling Club</td><td>SPORT</td><td>30-39</td><td>35</td><td>Male</td><td>0.0704826388888889</td></tr>
<tr><td>119</td><td>Greg Culver</td><td>Sliders</td><td>SPORT</td><td>SS OPEN</td><td>44</td><td>Male</td><td>0.0707314814814815</td></tr>
<tr><td>149</td><td>Wade Smith</td><td>SHCC 2</td><td>SPORT</td><td>30-39</td><td>38</td><td>Male</td><td>0.0710960648148148</td></tr>
<tr><td>139</td><td>Sara Lee</td><td>SHCC 1</td><td>SPORT</td><td>SS OPEN</td><td>40</td><td>Female</td><td>0.0711516203703704</td></tr>
<tr><td>140</td><td>Sean Costello</td><td>SHCC</td><td>SPORT</td><td>20-29</td><td>23</td><td>Male</td><td>0.0711678240740741</td></tr>
<tr><td>122</td><td>Jen Smith</td><td>SHCC 1</td><td>SPORT</td><td>FEMALE OPEN</td><td>38</td><td>Female</td><td>0.0715891203703704</td></tr>
<tr><td>32</td><td>Thomas Grolemund</td><td>Campus Wheelworks</td><td>SPORT</td><td>40-49</td><td>41</td><td>Male</td><td>0.0717430555555556</td></tr>
<tr><td>143</td><td>Steve Olson</td><td>Campus Wheelworks</td><td>SPORT</td><td>SS OPEN</td><td>27</td><td>Male</td><td>0.0721666666666667</td></tr>
<tr><td>270</td><td>Chad Puffer</td><td></td><td>SPORT</td><td>40-49</td><td>40</td><td>Male</td><td>0.0722604166666667</td></tr>
<tr><td>108</td><td>Craig Boehler</td><td>Hollyloft/Alfies</td><td>SPORT</td><td>50-59</td><td>52</td><td>Male</td><td>0.0734768518518518</td></tr>
<tr><td>133</td><td>Mike Bauer</td><td>SHCC</td><td>SPORT</td><td>60&OVER</td><td>61</td><td>Male</td><td>0.07384375</td></tr>
<tr><td>31</td><td>Mark Maclean</td><td></td><td>SPORT</td><td>40-49</td><td>46</td><td>Male</td><td>0.0738599537037037</td></tr>
<tr><td>112</td><td>David Fanion</td><td>Old And In The Way</td><td>SPORT</td><td>50-59</td><td>51</td><td>Male</td><td>0.0768599537037037</td></tr>
<tr><td>256</td><td>Brian Waterman</td><td></td><td>SPORT</td><td>40-49</td><td>44</td><td>Male</td><td>0.0775162037037037</td></tr>
<tr><td>123</td><td>Jessie El Farram</td><td>Shorthills Cycling Club</td><td>SPORT</td><td>FEMALE OPEN</td><td>39</td><td>Female</td><td>0.0786585648148148</td></tr>
<tr><td>15</td><td>David Bonnell</td><td>Campus Wheelworks</td><td>SPORT</td><td>40-49</td><td>45</td><td>Male</td><td>0.0787395833333333</td></tr>
<tr><td>135</td><td>Robert Biddlecombe</td><td></td><td>SPORT</td><td>30-39</td><td>33</td><td>Male</td><td>0.0787465277777778</td></tr>
<tr><td>66</td><td>Robert Till</td><td>Lone Wolf Pack</td><td>SPORT</td><td>19&UNDER</td><td>12</td><td>Male</td><td>0.0793773148148148</td></tr>
<tr><td>121</td><td>Jen Bouchard</td><td>SHCC 1</td><td>SPORT</td><td>FEMALE OPEN</td><td>34</td><td>Female</td><td>0.0800925925925926</td></tr>
<tr><td>46</td><td>Melissa Melnik</td><td></td><td>SPORT</td><td>FEMALE OPEN</td><td>38</td><td>Female</td><td>0.0802523148148148</td></tr>
<tr><td>144</td><td>Steven Rogers</td><td></td><td>SPORT</td><td>40-49</td><td>45</td><td>Male</td><td>0.0830115740740741</td></tr>
<tr><td>8</td><td>Carter Nickel</td><td></td><td>SPORT</td><td>SS OPEN</td><td>18</td><td>Male</td><td>0.0921157407407407</td></tr>
<tr><td>134</td><td>Mike Hodgman</td><td>Old And In The Way</td><td>SPORT</td><td>50-59</td><td>56</td><td>Male</td><td>0.109974537037037</td></tr>
<tr><td>141</td><td>Seth Arnold</td><td>Lone Wolf Pack Cycles</td><td>SPORT</td><td>30-39</td><td>31</td><td>Male</td><td>DNF</td></tr>
<tr><td>114</td><td>David Szeliga</td><td>Cycle Wheels USA</td><td>SPORT</td><td>50-59</td><td>54</td><td>Male</td><td>DNF</td></tr>
</table>