    /* 
    Theme Name: STR2
    Theme URI: http://www.singletrackracing.com/ 
    Description: A WordPress theme 
     
    Author: Dan Rabb
    Version: 1.0 
    Tags: singletrack, mtb, racing, race 
    */

body {
	font:18px 'PT Sans', sans-serif;;
	margin:0;
	padding:0;
	background-color:#000;
}

a {	
	color:#555;
}

a:hover { text-decoration: none; }

header {
	color:#fff;
	overflow:auto;
}

header h1 {
	margin:10px 0px;
}

header .menu-main-container {
	background:url(images/flag.png) top left no-repeat;
	overflow: auto;
	background-color:#fff;
}

header img.logo {
	height:115px;
	margin-left:25px;
	position:absolute;
	top:10px;
	left:75px;
	z-index:100;
}

header .top-hat-content { 
	background-color:#000;
	height:40px;
	position: relative;
	overflow:auto;
}

header .top-hat-content ul.top-nav-menu {
	position: absolute;
	right:5px;
	top:8px;
	padding:0;
	margin:0;
}

header .top-hat-content ul.top-nav-menu li {
	list-style: none;
	float:left;
	margin-right:15px;
	xborder-right:solid 1px #fff;
}

header .top-hat-content ul.top-nav-menu li:last-child span {
	display:none;
}

header .top-hat-content ul.top-nav-menu li a {
	color:#fff;
	margin-right:15px;
	font-size:15px;
}

header ul.nav-menu {
	float:left;
	margin-top:20px;
	margin-bottom:30px;
	margin-left:275px;
	z-index:101;
}

header ul.nav-menu li {
	list-style: none;
	float:left;
	margin-right:35px;
	padding:5px 0px;
	margin-bottom: 2px;
}

header ul.nav-menu ul.children {
	display:none;
}

header ul.nav-menu li.current_page_item {
	color:#444;
	border-bottom:solid 2px #26913c;
	margin-bottom:0px;
}

header ul.nav-menu li.current_page_item a {
	color:#444;
}

header ul.nav-menu li a {
	text-decoration: none;
	color:#000;
	font-size:18px;
	font-weight:bold;
	text-transform: uppercase;
}

header ul.nav-menu li:hover {
	border-bottom:solid 2px #26913c;
	margin-bottom:0px;
}

.slicknav_menu {
	background-color:#000;
	padding:0;
}

.slicknav_btn {
	position:absolute;
	top:3px;
	left:3px;
	float:left;
	background-color:#999;
}

.slicknav_nav {
	margin-top:45px;
}

.slicknav_nav ul {
	background-color:#333;
	margin:0px 15px 0px 20px;
	border-radius: 4px;
}

/* start flexslider overrides */

.flexslider {
	border:none !important;
	box-shadow: none !important;
	margin-bottom:0 !important;
	z-index:101;
}

.flexslider .slides li {
    position:relative;
}

.flexslider .slides li h1 {
    background:rgba(0,0,0,.5);
    position: absolute;
    top:15px;
    right:0px;
    text-shadow:0px 0px 7px #222;
    color:#fff;
    padding:10px 50px;
    border:solid 1px #333;
    border-right:none;
    text-transform: uppercase;
}

.flexslider .slides li h1 a {
	color:#fff;
	text-decoration: none;
}

.flexslider .flex-prev {
    opacity: 0.8;
    left: 10px !important;
}

.flexslider .flex-next {
	opacity: 0.8;
	right: 10px !important;
}

/* end flexslider */

/* start contact form 7 */

.wpcf7 input[type='text'],
.wpcf7 input[type='email'] {
	width:250px;
	padding:4px 2px;
	font-size:13px;
	margin-top:3px;
}

.wpcf7 select {
	width:255px;
	padding:4px 2px;
}

.wpcf7 textarea {
	font: 13px 'PT Sans', sans-serif;
	width:350px;
}

/*.wpcf7 input[type='submit'] {
	background-color:#ccc;
	border:solid 1px #000;
}*/

/* end contact form 7 */

#content {
	background-color:#fff;
	overflow: hidden;
}

#content .white-bar,
	#content .green-bar {
		display:none;
	}

#content h2 {
	color:#444;
	font-size:1.3em;
	margin:10px 0px;
}

#content p {
	line-height:24px;
}

#content hr.title-rule {
	border:none;
	height:1px;
	padding:0;
	border-top:1px solid #000;
}

#content .page-content,
#content .event-content,
#content .course-details-content {
	margin:20px auto;
	width:85%;
}

#content .thank-you {
	 margin:0 auto; 
	 width:65%; 
	 padding-top:15px;
}

#content .thank-you img {
	display:block; 
	margin:0 auto; 
	width:90%;
}

#content .fourohfour img {
	width:90%;
}

#content .page-content .sidebar {
	max-width:287px;
	margin-right:30px;
	margin-bottom:20px;
	margin-top:20px;
	float:left;
}

#content .page-content .sidebar .sidebar-info {
	background-color: rgb(225,225,225);
	padding:10px 15px;
	margin-bottom:25px;
}

#content .page-content .sidebar .sidebar-info h3 {
	margin-top:0px;
	font-size:1em;
	text-transform: uppercase;
}

#content .page-content .sidebar .sidebar-info p {
	font-size:0.9em;
	margin-bottom:5px;
}

#content .page-content .sidebar .sidebar-info button,
.wpcf7 input[type='submit'] {
	cursor:pointer;
	margin:10px 0px;
	padding:5px 10px;
	border-radius: 4px;
	border:solid 1px #ccc;
	background-color:#222;
	color:#fff;
	text-transform:uppercase; 
}

#content .page-content .sidebar .sidebar-info button:hover {
	background-color: #555;
}

#content .page-content section.details {
	float:left;
	width:60%;
}

#content .page-content section.details a.ron-sig {
	font-family: 'Architects Daughter', cursive;
	font-size:1.8em;
	text-decoration: none;
}

#content .page-content section.details a.ron-sig:hover { 
	text-decoration: underline;
}

#content .page-content section.details .sponsor-logo {
	max-height: 150px;
	margin-top:20px;
	margin:20px 10px 0px 10px;
}

#content .page-content section.details span.reg-link-mobile {
	display:none;
}

#content .header-info {
	position:relative;
}

#content .header-info .title-wrapper {
	position:absolute; 
	top:10px; 
	left:7.5%;
}

/* this class should mimic the .registration-content class */
#content .header-info .title-wrapper .left {
	float:left; 
	min-width:285px; 
	padding-right:30px;
}

#content .header-info img {
	width:100%;
}

#content .header-info h2 {
	color:#fff;
	float:left;
	text-shadow:0px 0px 5px #000;
	font-size:2.3em;
}

#content .event-content h3 {
	margin:15px 0px 0px 0px;
}

#content .event-content img.pin {
	height: 29px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 7px;
}

#content .event-content .registration-content {
	padding-top:0px;
	padding-right:30px;
	float:left;
	min-width:287px;
	width:20%;
}

#content .event-content .description-content {
	padding-right: 25px;
	float:left;
	width:60%;
	font-size:0.855em;
}

#content .event-content .description-content .details {
	font-size:1.3em;
	font-weight:bold;
	text-transform:uppercase;
}

#content .event-content .registration-content .grey-wrapper {
	background-color: #eaeaea;
	padding:5px;
	margin-bottom:10px;
	text-align: center;
}

#content .event-content .registration-content img.event-logo {
	max-width: 250px;
}

#content .event-content .registration-content img.fb-event {
	height:70px;
}

#content .event-content .course-details {
	padding:5px 0px;
	xoverflow:auto;
}

.details-wrapper {
	overflow:auto;
	background-color:#f5f5f5;
	border-top:solid 1px #888;
	padding-bottom:30px;
	margin-bottom:-12px;
}

.details-wrapper h3 {
	margin-top:0px;
}

.event-content-wrapper .course-details .course-map,
.event-content-wrapper .course-details .course-profile {
	float:left;
	margin-right:20px;
	width:47%;
}

.event-content-wrapper .course-details .course-map a.download-link { 
	margin:8px 0px;	
	display:inline-block;
}

footer {
	clear:left;
	color:#7c7c7c;
	overflow: auto;
	min-height:127px;
	background-color: #000;
}

footer a {
	color:#7c7c7c;
}

footer a:hover {
	text-decoration: none;
}

.white-bar {
	background-color:#fff;
	height:12px;
}

.green-bar {
	background-color:#26913c;
	height:5px;
}

footer .content {
	width:85%;
	margin:20px auto;
	font-size:0.6em;
}

footer .content .nav {
	margin-bottom: 10px;
	float:left;
}

footer .content .nav ul.nav-menu {	
	padding:0;
	margin:0;
}

footer .content .nav ul.nav-menu li {
	list-style: none;
	float:left;
}

footer .content .nav ul.nav-menu li a {
	font-size:13px;
	line-height:17px;
	color:#fff;
}

footer .content .nav ul.nav-menu li span.separator {
	font-size:1.1em;
	float:none;
	margin:0px 10px;
}

footer .content .nav ul.nav-menu li:last-child span.separator { display:none; }

footer .content .sidr-nav { display:none; }

footer .content .social-links {
	float:right;
}

footer .content .social-links a {
	background:url(images/social_icons.jpg) top left no-repeat;
	background-position: top left;
	display:inline-block;
	height:26px;
	width:26px;
}

footer .content .social-links a.twitter {
	background-position: 0px 0px;
}

footer .content .social-links a.fb {
	background-position: -32px 0px;
}

footer .content .social-links a.yt {
	background-position: -64px 0px;
}

footer .content .credits {
	margin-top:10px;
	clear:both;
}

footer span {
	float:right;
	font-size:0.5em;
	color:#a7a7a7;
}

.video-wrapper {
	position: relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow: hidden;
	margin-bottom:20px;
}

.video-wrapper iframe, 
.video-wrapper object,
.video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
}

@media (max-width:1050px) {
	header ul.nav-menu li {
		margin-right:30px;
	}

	header ul.nav-menu li a { 
		font-size:16px;
	}

	#content .header-info h2 {
		font-size:1.7em;
	}

	.flexslider .slides li h1,
	.flexslider .slides li h1 a {
		font-size:24px;
	}

	#content .event-content .description-content {
		width:50%;
	}

	#content .page-content section.details {
	float:left;
	width:54%;
}
}

@media (max-width:900px) {	

	header ul.nav-menu {
		margin-top:0px;
	}

	header ul.nav-menu li {
		margin-top:15px;
		min-width:115px;
	}

	header ul.nav-menu li a:hover {
		border-bottom: solid 2px #26913c;
	}

	header ul.nav-menu li:hover,
	header ul.nav-menu li.current_page_item {
		border-bottom: none;
	}

	header ul.nav-menu li.current_page_item a {
		color:#444;		
		border-bottom:solid 2px #26913c;
	}

	header ul.nav-menu li:nth-child(odd) {
		clear:left;
	}

	.flexslider .slides li h1,
	.flexslider .slides li h1 a {
		font-size:21px;
	}
	
}

@media (max-width:825px) {

	#content .header-info,
	#content .event-content-wrapper {
		height:auto;
		text-align:center;
		vertical-align: middle;	
	}

	#content .event-content-wrapper h4,
	#content .event-content-wrapper p {
		text-align:left;
	}

	#content .header-info .title-wrapper .left,
	#content .header-info img {
		display:none;
	}

	#content .header-info .title-wrapper {
		position:relative;
		top:3px;
		left:auto;
	}

	#content .header-info h2 {
		float:none;
		color:#000;
		text-shadow:0px 0px 4px #a5a5a5;
	}

	#content .event-content .registration-content,
	#content .event-content .description-content,
	.event-content-wrapper .course-details .course-map,
	.event-content-wrapper .course-details .course-profile {
		width:auto;
		display:block;
		float:none;
	}

	#content .sidebar .contact-us,
	#content .event-content .registration-content .fb-like-box,
	#content .event-content .registration-content .grey-wrapper.logo,
	#content .event-content .registration-content .grey-wrapper.event {
		display:none !important;
	}

	.event-content-wrapper .course-details .course-profile h3 {
		margin-top:15px;
	}

	#content .page-content section.details {
		float:none;
		width:auto;
	}

	#content .page-content section.details span.reg-link-desk {
		display:none;
	}

	#content .page-content section.details span.reg-link-mobile {
		display:inline;
	}

	#content .page-content .sidebar {
		max-width:287px;
		margin:20px auto;
		float:none;
	}

}

@media (max-width:670px) {

	footer .content .nav {
		display:none;
	}

	footer .content .credits {
		margin-top:0;
		clear:none;
		float:left;
	}
}

@media (max-width:475px) {

	header {
		height:140px;
		background-color:#000;
		text-align:center;
	}

	header img.logo {
		position:relative;
		left:auto;
		margin-left:0;
	}

	header .top-hat-content,
	header .menu-main-container {
		display:none;
	}

	#content .white-bar,
	#content .green-bar {
		display:block;
	}

	#content .event-content-wrapper .header-info h2 {
		font-size:1.6em;
	}

	#content .event-content .description-content .details {
		font-size:1.1em;
	}

	#content .page-content .sidebar {
		margin:0 auto;
		float:none;
	}

	#content .page-content section.details {
		float:none;
		width:auto;
	}

	#content .fourohfour img,
	#content .page-content .wp-image-137 { /* webscorer logo, results page */
		width:100%;
		height:auto;
	}

	.wpcf7 input[type='text'],
	.wpcf7 input[type='email'],	
	.wpcf7 textarea {
		width:95%;
	}

	.wpcf7 select { width:96%; }

	a.flex-prev, a.flex-next {
		display:none !important;
	}

	.flexslider .slides li h1 {
		padding:8px 30px;
		font-size:16px;
	}

	.flexslider .slides li h1 a {
		font-size:16px;
	}

}